body {
    box-sizing: border border-box;
    margin: 0;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
    background-image: url(Imagenes/wallpaper.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #menu {
    display: flex;
    justify-content: center;
    background: rgb(18, 16, 167);
    border-bottom: 1px solid rgb(141, 138, 138);
  }

  #menu nav ul a {
    text-decoration: none;
    color: white;
    margin-left: 100px;
    font-size: 16px;
    padding: 10px;
  }

  #menu nav ul a:hover {
    background: rgba(107, 107, 107, 0.712);
    transition: 0.5s;
    border-radius: 5px;
  }

  #logo {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 1000;
    text-align: center;
    background-color: black;
  }

  #primera-seccion {
    text-align: center;
  }

  #primera-seccion p {
    font-size: 50px;
    color: aquamarine;
    text-transform: capitalize;
    font-size: 2cm;
  }

  #primera-seccion-contenido {
    background-image: url(../Imagenes/fondo.png);
    display: block;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: justify;
  }

  #primera-seccion-contenido h1 {
    text-align: center;
    text-decoration: underline;
  }

  #segunda-seccion {
    background-color: rgb(18, 16, 167);
    color: white;
    padding: 3px;
    font-size: 15px;
  }

  #segunda-seccion p {
    text-align: justify;
    font-size: 15px;
  }

   #tercera-seccion {
    text-align: center;
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #tercera-seccion p {
    font-size: 15px;
  }

  #tercera-seccion header {
    font-size: 15px;
    text-align: left;
  }

  #tercera-seccion h1 {
    text-decoration: underline;
    font-size: 22px;
  }

  #tercera-seccion-contenido {
    text-align: center;
    font-size: 15px;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
  }

   #tercera-seccion-contenido h1 {
    text-align: center;
    text-decoration: underline;
  }
  
  #cuarta-seccion h1 {
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
  }
  
  #cuarta-seccion p {
    text-align: right;
    font-size: 11px;
  }

  #cuarta-seccion ul {
    background-color: goldenrod;
    margin-left: 10px;
    margin-right: 65%;
  }

  #cuarta-seccion header {
    font-size: 15px;
    text-align: left;
  }

  #quinta-seccion-derecha a {
    text-decoration: none;
    color: blue;
  }
   
  #quinta-seccion {
    text-align: right;
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #quinta-seccion h1 {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 1.5px;
  }

  header h1 {
    font-size: 40px;
  }

  .caja {
    display: flex;
  }

  .caja div {
    width: 33%;
    padding: 10px;
    background: darkblue;
    border-radius: 65px;
  }

  .caja #persona1 {
    text-align: center;
  }

  .caja #persona2 {
    text-align: center;
  }

  .caja #persona3 {
    text-align: center;
  }

  .caja #persona1 p {
    text-align: justify;
    font-size: 15px;
  }

  .caja #persona2 p {
    text-align: justify;
    font-size: 15px;
  }

  .caja #persona3 p {
    text-align: justify;
    font-size: 15px;
  }
 
  #persona1 #foto1 {
    position: absolute;
    left: 10px;
    top: 50%;
    bottom: 0;
  }
 
  #persona2 #foto2 {
    position: absolute;
    right: 100px;
    top: 50%;
    bottom: 0;
  }
 
  #persona3 #foto3 {
    position: absolute;
    right: 300px;
    top: 50%;
    bottom: 0;
  }
 
  footer {
    background-color: black;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    text-align: center;
    margin-top: auto;
  }